# Ignore compiled or unnecessary files
*.bin
*.elf
*.map
*.log
*.pyc
__pycache__/
*.o
*.d

# Ignore build folders
esp32/build

# Ignore IDE settings
# esp32/.vscode

# Ignore devcontainer
# esp32/.devcontainer

esp32/sdkconfig.old
esp32/sdkconfig.ci
esp32/sdkconfig